<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>
	<connectionStrings>

		<!--DLRefactorDB-->
		<add name="DBConnectionString" connectionString="Data Source=tcp::covidb.eastus.cloudapp.azure.com,1433;Initial Catalog=ConvergenceV4DevNew;Persist Security Info=false;User ID=webApp;Password=p@$$w0rd;Trusted_Connection=True;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />
		<add name="RRDGRESMasterDB" connectionString="Data Source=tcp:covidb.eastus.cloudapp.azure.com,1433;Initial Catalog=ApplicationMaster40Dev;Persist Security Info=false;User ID=webApp;Password=p@$$w0rd;Trusted_Connection=False;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />
		<add name="SiteInspectionsConnectionString1" connectionString="Data Source=tcp:covidb.eastus.cloudapp.azure.com,1433;Initial Catalog=ConvergenceV4DevNew;Persist Security Info=false;User ID=webApp;Password=p@$$w0rd;Trusted_Connection=True;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />
		<add name="SiteInspectionsConnectionString" connectionString="Data Source=tcp:covidb.eastus.cloudapp.azure.com,1433;Initial Catalog=ConvergenceV4DevNew;Persist Security Info=false;User ID=webApp;Password=p@$$w0rd;Trusted_Connection=True;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />

		<!--QA-->
		<!--<add name="DBConnectionString" connectionString="Data Source=tcp::covidb.eastus.cloudapp.azure.com,1433;Initial Catalog=Convergence35_DLRefactor_QA_20220714;Persist Security Info=false;User ID=webApp;Password=p@$$w0rd;Trusted_Connection=True;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />
		<add name="RRDGRESMasterDB" connectionString="Data Source=tcp:covidb.eastus.cloudapp.azure.com,1433;Initial Catalog=ApplicationMaster40QA;Persist Security Info=false;User ID=webApp;Password=p@$$w0rd;Trusted_Connection=False;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />
		<add name="SiteInspectionsConnectionString1" connectionString="Data Source=tcp:covidb.eastus.cloudapp.azure.com,1433;Initial Catalog=Convergence35_DLRefactor_QA_20220714;Persist Security Info=false;User ID=webApp;Password=p@$$w0rd;Trusted_Connection=True;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />
		<add name="SiteInspectionsConnectionString" connectionString="Data Source=tcp:covidb.eastus.cloudapp.azure.com,1433;Initial Catalog=Convergence35_DLRefactor_QA_20220714;Persist Security Info=false;User ID=webApp;Password=p@$$w0rd;Trusted_Connection=True;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />-->

		<!--Local-->
		<!--<add name="DBConnectionString" connectionString="Data Source=IEPL-KASUNS\MSSQLSERVER17;Initial Catalog=CSI35DEV_29042022Merge;Persist Security Info=false;User ID=sa;Password=1234qwer$;Trusted_Connection=True;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />
		<add name="RRDGRESMasterDB" connectionString="Data Source=IEPL-KASUNS\MSSQLSERVER17;Initial Catalog=ApplicationMaster35Dev;Persist Security Info=false;User ID=sa;Password=1234qwer$;Trusted_Connection=False;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />
		<add name="SiteInspectionsConnectionString1" connectionString="Data Source=IEPL-KASUNS\MSSQLSERVER17;Initial Catalog=CSI35DEV_29042022Merge;Persist Security Info=false;User ID=sa;Password=1234qwer$;Trusted_Connection=True;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />
		<add name="SiteInspectionsConnectionString" connectionString="Data Source=IEPL-KASUNS\MSSQLSERVER17;Initial Catalog=CSI35DEV_29042022Merge;Persist Security Info=false;User ID=sa;Password=1234qwer$;Trusted_Connection=True;Encrypt=false;TrustServerCertificate=True;Integrated Security=false" providerName="System.Data.SqlClient" />-->

	</connectionStrings>
  <appSettings>
    <add key="SqlCommandTimeout" value="240" />
    <add key="DbXmlMetaDataPath" value="../DatabaseSchemas/" />
    <add key="XmlSchemaNameFrefix" value="DBXmlSchema" />
    <add key="LocalAdminUserName" value="Administrator" />
    <add key="LocalAdminDomain" value="." />
    <add key="LocalAdminPassword" value="1234qwer$" />
    <add key="ClientID" value="04792921-6ee7-4e44-883d-987ba7d086bd" />
    <add key="ClientSecret" value="=@1y.0.AiRAMPIz0JAzO23H[5.qPlWyi" />
    <add key="HelperDocumentationVirtualDirectoryPath" value="~/ImageManager" />
    <add key="IsConfigurationApp" value="true" />
    <add key="InitialApplicationID" value="B31AB187-62B7-48C2-806F-047F372EBF94" />

    <!--Intergration API credentials-->
    <!--placed here due to veracode vulnarabilities-->
    <add key="AntiXsrfTokenKey" value="__AntiXsrfToken" />
    <add key="AntiXsrfUserNameKey" value="__AntiXsrfUserName" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.6.1">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
				<add assembly="System.Data.DataSetExtensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<remove name="MySqlSiteMapProvider" />
				<add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
			</providers>
		</siteMap>
		<pages theme="GRESAdmin" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<httpHandlers>
			<add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
			<add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
			<add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
		</httpHandlers>
		<customErrors mode="Off" />

		<!--<authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="true" slidingExpiration="true" defaultUrl="Default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="true"/>
    </authentication>-->
		<!--Deny Anonymous users.-->
		<!--<authorization>
      <deny users="?" />      
    </authorization>-->
    
    <httpRuntime maxRequestLength="2096053" requestValidationMode="2.0" maxQueryStringLength="2096053" targetFramework="4.6.1" />

	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
			<add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
			<add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
		</handlers>
		<defaultDocument>
			<files>
				<clear />
				<!--<add value="Home.aspx"/>-->
				<add value="Account/Login.aspx" />
			</files>
		</defaultDocument>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2140708864" maxQueryString="2140708864" />
			</requestFiltering>
		</security>

	</system.webServer>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="2147483647" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ActiveQueryBuilder.Core" publicKeyToken="3cbcbcc9bf57ecde" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.6.1113" newVersion="3.5.6.1113" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.TraceSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2018.3.910.45" newVersion="2018.3.910.45" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="GleamTech.DocumentUltimate" publicKeyToken="a05198837413a6d8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="GleamTech.VideoUltimate" publicKeyToken="a05198837413a6d8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="GleamTech.ImageUltimate" publicKeyToken="a05198837413a6d8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="GleamTech.Common" publicKeyToken="a05198837413a6d8" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v13.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>